.git
.github
.idea
.vscode

**/bin
**/obj
**/build-review

node_modules
dist
.vite
client
tests
docs

.env
.env.*
**/.env
**/.env.*
**/appsettings.Development.local.json

.DS_Store
*.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
