# Node

node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET

**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.dotnet/
server/FinanceDashboard.Api/build-review/

# Env

.env
.env.local
.env.development.local
.env.production.local
server/.env
client/.env.local
client/.env.development.local
client/.env.production.local

# OS

.DS_Store
Thumbs.db

# Editor

.vscode/
.idea/

# JSON
appsettings.Development.local.json

.vercel
