SA_PASSWORD=TroqueEstaSenha@123

# SMTP
Smtp__Host=smtp.seuprovedor.com
Smtp__Port=587
Smtp__Username=usuario
Smtp__Password=sua-senha-ou-chave-smtp
Smtp__FromEmail=no-reply@seu-dominio.com
Smtp__FromName=Finova
Smtp__EnableSsl=true

# JWT
Jwt__Audience=Finova
Jwt__Issuer=Finova
Jwt__Key=SUA_CHAVE_JWT_COM_PELO_MENOS_32_CARACTERES
